# ***Exploracion de datasets***

Configurando el notebook para que tenga acceso a todos los archivos, agregando la ruta base del proyecto

In [1]:
import sys
from pathlib import Path 

PROJECT_ROOT = Path().resolve().parent
sys.path.append(str(PROJECT_ROOT))

Importando librerias axuliares para el correcto funcionamiento y legibilidad del notebook

In [2]:
import config
from src import utils

## ***Importando los datasets sin procesar***

In [3]:
df_s = utils.cargar_datos_csv(ruta_carpeta = config.RAW_DATA_DIR, pref = "fallecidos_siniestros",
                              suf = [2013,2014,2015,2016,2017,2018,2019], metadata = True)

## ***Explorando los metadatos obtenidos de cada dataset***

In [4]:
for metada in df_s[1].items():
    print(metada)

('fallecidos_siniestros_2013', {'rows': 567, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.35286521911621094, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2013.csv', 'encoding': 'cp1250'})
('fallecidos_siniestros_2014', {'rows': 538, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.33495616912841797, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2014.csv', 'encoding': 'cp1250'})
('fallecidos_siniestros_2015', {'rows': 506, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.3153877258300781, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2015.csv', 'encoding': 'cp1250'})
('fallecidos_siniestros_2016', {'rows': 446, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.27692699432373047, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2016.csv', 'encoding': 'cp1250'})
('fallecidos_siniestros_2017', {'rows': 470, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.3376045227050781, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2017.csv', 'encoding': 'cp1250'})
('fallecidos_siniestros_2018', {'rows': 528, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.3269968032836914, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2018.csv', 'encoding': 'cp1250'})
('fallecidos_siniestros_2019', {'rows': 422, 'columns': 14, 'columns_list': ['Fecha y hora', 'Departamento', 'Localidad', 'Jurisdiccion ', 'Tipo de Siniestro', 'Vehiculo', 'Rol', 'Edad', 'Sexo', 'Fallecido a los Dias', 'Otro vehiculo', 'Lugar del Siniestro', 'X', 'Y'], 'memory_size': 0.26018524169921875, 'file_path': 'C:\\Users\\Favian\\Documents\\GitHub\\portfolio-projects\\eda_accidentes\\data\\raw\\datos-fallecidos-en-siniestros-de-trnsito-2019.csv', 'encoding': 'cp1250'})

### **Analisis de los metadatos**

_ _ _
#### ***Elementos destacados***
- Todos los datasets poseen igual estructura:
    - Igual numero de columnas.
    - Las columnas tienen el mismo nombre y orden.
    - El encoding es igual.
- El espacio requerido para almacenar el conjunto de datos es relativamente pequeño.
- - -
#### ***Problemas detectados***
- No se detectan problemas en base a los metadatos generales, un analisis exhaustivo por columnas puede revelar si existen problemas en los datos.
- - -
#### ***Conclsuiones***
- El conjunto de datasets puede concatenarse para formar un solo conjunto de datos ya que su estructura lo permite y esto es recomendable para hacer un analisis mas profundo de cada columna.

## ***Analizando los datos del dataset***

### **Concatenando los datsets**

In [5]:
import pandas as pd
df_concatenado =  pd.concat(df_s[0].values(), ignore_index=True)

### **Mostrando primeras filas**

In [27]:
df_concatenado.head(10)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
0,01/01/2013 23:15:00,CANELONES,N/C,NACIONAL,COLISIÓN CON OBSTÁCULO EN CALZADA,MOTO,CONDUCTOR,34.0,F,0,NaN,RUTA 101 km 24,589815.342914,6143862.763229
1,01/01/2013 23:35:00,SALTO,SALTO,DEPARTAMENTAL,ATROPELLO DE PEATÓN,PEATÓN,PEATÓN,52.0,F,0,MOTO,MAGALLANES próx. Barrio Chinchurreta,411579.766767,6526872.774553
2,03/01/2013 23:35:00,PAYSANDU,N/C,NACIONAL,COLISIÓN ENTRE VEHÍCULOS,AUTO,CONDUCTOR,34.0,M,8,CAMION,RUTA 3 km. 358,412321.543859,6407067.584348
3,04/01/2013 07:10:00,COLONIA,N/C,NACIONAL,DESPISTE,AUTO,CONDUCTOR,49.0,F,1,NaN,RUTA 21 esq. Dr Irastorza,379424.367175,6240356.261638
4,04/01/2013 11:00:00,CANELONES,PROGRESO,DEPARTAMENTAL,DESPISTE,AUTO,CONDUCTOR,91.0,M,0,NaN,CESAR MAYO GUTIERREZ senda CAMINO PELUFFO,570675.101605,6164479.534646
5,05/01/2013 00:20:00,RIVERA,N/C,DEPARTAMENTAL,DESPISTE,CAMIONETA,CONDUCTOR,56.0,M,0,NaN,CAMINO VECINAL PASO DEL CERRO,610696.850418,6545153.435079
6,06/01/2013 14:10:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,63.0,M,1,MOTO,AVENIDA LEZICA esq. GUANAHANY,568790.163179,6149287.466517
7,06/01/2013 15:30:00,RIVERA,N/C,NACIONAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,45.0,M,0,MOTO,RUTA 27 km 113,717522.584903,6483538.468099
8,06/01/2013 18:21:00,FLORIDA,N/C,NACIONAL,DESPISTE,AUTO,PASAJERO,34.0,F,1,NaN,RUTA 7 km. 145,636641.74031,6253050.992293
9,06/01/2013 20:50:00,MALDONADO,AIGUA,DEPARTAMENTAL,COLISIÓN CON OBSTÁCULO EN CALZADA,MOTO,CONDUCTOR,20.0,M,1,NaN,CONT. AGUSTONI ROSSI,706410.062734,6213348.041027

### **Mostrando informacion genral de las columnas**

In [7]:
print(df_concatenado.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Fecha y hora          3477 non-null   object
 1   Departamento          3477 non-null   object
 2   Localidad             3477 non-null   object
 3   Jurisdiccion          3477 non-null   object
 4   Tipo de Siniestro     3477 non-null   object
 5   Vehiculo              3477 non-null   object
 6   Rol                   3477 non-null   object
 7   Edad                  3433 non-null   float64
 8   Sexo                  3476 non-null   object
 9   Fallecido a los Dias  3477 non-null   int64
 10  Otro vehiculo         2405 non-null   object
 11  Lugar del Siniestro   3477 non-null   object
 12  X                     3476 non-null   object
 13  Y                     3476 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 380.4+ KB
None

#### ***NOTA***:
Las columnas '*X*' e '*Y*' no las detecta como **valores numericos**, cuando estas representan coordenadas.

### **Mostrando informacion de los valores de la columnas numericas**

In [8]:
df_concatenado.describe()

              Edad  Fallecido a los Dias
count  3433.000000           3477.000000
mean     43.171570              1.437446
std      21.271568              3.771816
min       0.000000              0.000000
25%      24.000000              0.000000
50%      41.000000              0.000000
75%      60.000000              1.000000
max      96.000000             30.000000

### **Mostrando los valores unicos de las columnas con valores discretos**

In [ ]:
#Cantidad de valores unicos por columna
df_concatenado.nunique()

Fecha y hora            3213
Departamento              19
Localidad                301
Jurisdiccion               2
Tipo de Siniestro         10
Vehiculo                  15
Rol                        4
Edad                      97
Sexo                       2
Fallecido a los Dias      30
Otro vehiculo             21
Lugar del Siniestro     3112
X                       3085
Y                       3083
dtype: int64

In [30]:
for column in df_concatenado.columns:
    valores_unicos = df_concatenado[column].unique()
    if len(valores_unicos) <= 30:  # Mostrar solo si hay 30 o menos valores únicos
        print(f"Valores unicos de la columna {column}: {valores_unicos}\n")

Valores unicos de la columna Departamento: ['CANELONES' 'SALTO' 'PAYSANDU' 'COLONIA' 'RIVERA' 'MONTEVIDEO' 'FLORIDA'
 'MALDONADO' 'ROCHA' 'CERRO LARGO' 'TACUAREMBO' 'DURAZNO' 'SAN JOSE'
 'RIO NEGRO' 'ARTIGAS' 'FLORES' 'LAVALLEJA' 'SORIANO' 'TREINTA Y TRES']

Valores unicos de la columna Jurisdiccion : ['NACIONAL' 'DEPARTAMENTAL']

Valores unicos de la columna Tipo de Siniestro: ['COLISIÓN CON OBSTÁCULO EN CALZADA' 'ATROPELLO DE PEATÓN'
 'COLISIÓN ENTRE VEHÍCULOS' 'DESPISTE' 'CAÍDA' 'ATROPELLO DE ANIMALES']

Valores unicos de la columna Vehiculo: ['MOTO' 'PEATÓN' 'AUTO' 'CAMIONETA' 'BICICLETA' 'CABALLO' 'CAMION'
 'OMNIBUS' 'TRACTOR' 'CARRO' 'CUATRICICLO' 'CUADRICICLO' 'MINIBUS'
 'TRICICLO']

Valores unicos de la columna Rol: ['CONDUCTOR' 'PEATÓN' 'PASAJERO']

Valores unicos de la columna Sexo: ['F' 'M' nan]

Valores unicos de la columna Fallecido a los Dias: [ 0  8  1  4 10 14  2  5  3 28 24  7  6 11 13 16  9 18 12 19 26 23 20 15
 17 30 27 29 25 21]

Valores unicos de la columna Otro vehiculo: [nan 'MOTO' 'CAMION' 'AUTO' 'CAMIONETA' 'OMNIBUS' 'MAQUINARIA' 'CABALLO'
 'CARRO' 'BICICLETA' 'CAMION ESTAC.' 'PEATÓN' 'CUADRICICLO' 'TREN'
 'TRACTOR' 'MAQUINA' 'CAMION PARADO' 'CONDUCTOR' 'TRICICLO CARGA' 'CAMIÓN'
 'MAQUINARIA INDUSTRIAL' 'ZORRA']

Analisis final del datsets
===
_ _ _
### ***Elementos destacados***
- 
- - -
### ***Problemas detectados***
- 
- - -
### ***Conclsuiones***
-